/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-editable
*/

@import 'bootstrap/variables';
@import 'theme-variables'; // Overrides bootstrap/variables; the latter is there for a reference
// Modify this for custom colors, font-sizes, etc
@import 'bootstrap/mixins';
// CSS Reset
@import 'bootstrap/reset';
// Grid system and page structure
@import 'bootstrap/scaffolding';
@import 'bootstrap/grid';
@import 'bootstrap/layouts';
// Base CSS
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/forms';
@import 'bootstrap/tables';
// Components: common
@import 'bootstrap/dropdowns';
@import 'bootstrap/wells';
@import 'bootstrap/component-animations';
@import 'bootstrap/close';
// Components: Buttons & Alerts
@import 'bootstrap/buttons';
@import 'bootstrap/button-groups';
@import 'bootstrap/alerts';

// Components: Nav
@import 'bootstrap/navs';
@import 'bootstrap/navbar';

@import 'bootstrap/breadcrumbs';
@import 'bootstrap/pagination';
@import 'bootstrap/pager';
// Components: Popovers
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
@import 'bootstrap/popovers';
// Components: Misc
@import 'bootstrap/thumbnails';
@import 'bootstrap/labels-badges';
/* @import "bootstrap/badges" */
@import 'bootstrap/progress-bars';
@import 'bootstrap/accordion';
@import 'bootstrap/carousel';
@import 'bootstrap/hero-unit';
// Utility classes
@import 'bootstrap/utilities';


// Application styles
@import 'font-awesome';

@import 'common/variables';
@import 'common/mixins';
@import 'common/classes';
@import 'common/placeholders';


@import 'welcome';
@import 'authenticated/projects';
@import 'authenticated/tasks';
// Application styles END

#header {
    div.navbar-inner {
        @include border-radius(0);
    }

    margin-bottom: 0;
}

div#main-content {
    margin-top: 20px;
}

/* FOOTER */
html,body {
    height: 100%;
}

div#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

div#push, div#footer {
    height: 100px;
}

div#footer {
    .container .message {
        color: white;
        text-align: center;
    }
}

@media (max-width: 767px) {
    div#footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* FOOTER END */

/* Notifications */
div#notifications {
    margin-top: 25px;
    position: fixed;
    left: 75%;

    h4 {
        margin: 10px 0;
    }

    div.notification {
        font-size: 12px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        text-shadow: none;
    }
}
/* Notifications END */


@import "bootstrap-responsive";

form.form-inline div.control-group { display: inline-block; }
form.form-inline div.control-group div.controls { display: inline-block; }
